src/main/app/pruebapablo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="ConfiguracionPablo8081" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <file:connector name="File" autoDelete="true" outputAppend="true" streaming="true" validateConnections="true" doc:name="File" recursive="true"/>
    <flow name="pruebapabloFlow">
        <http:listener config-ref="ConfiguracionPablo8081" path="/test" doc:name="HTTP"/>
        <custom-transformer class="esper.JsonTransformerAirQualityEvent" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-payload value="#[payload+'\n'] " doc:name="Set Alert Payload"/>
        <file:outbound-endpoint path="./output/" outputPattern="peticionesRecibidas.txt" responseTimeout="10000" doc:name="Complex events detected" connector-ref="File"/>
    </flow>
</mule>
